<header>

    <nav>
        <ul>
            <li><a href="/">Quizzly</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>

        </ul>
    </nav>
</header>
