<header>

    <nav>
        <ul>
            <li><a href="/">Quizzly</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</header>
