<header>
    <button class="home-button">Home Quizzly</button>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </nav>
</header>
