<html lang="en">
    <%- include('../../includes/head.ejs', { 'styles': [ '' ] }) %>
    <body>
        <form id="form">
            <div>
                <label for="u">Nom d'utilisateur:</label>
                <input type="text" id="u" name="u">
            </div>
            <div>
                <label for="p">Mot de passe:</label>
                <input type="password" id="p" name="p">
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </body>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault();

            const d = ["dodq8;:|wkhfrghlv<<85"]
            const u = document.getElementById('u').value;
            const p = document.getElementById('p').value;

            if (encode(u) === d[0].split("|")[0] && encode(p) === d[0].split("|")[1]) {
                alert("Félicitation, vous pouvez utiliser le code !");
            } else {
                alert("Mauvais login !");
            }
        });

        function encode(message) {
            let messageSecret = '';
            for (let i = 0; i < message.length; i++) {
                let code = message.charCodeAt(i);
                code = code + 3;
                let caractereSecret = String.fromCharCode(code);
                messageSecret += caractereSecret;
            }
            return messageSecret;
        }
    </script>
</html>