<html lang="en">
    <%- include('../../includes/head.ejs', { 'styles': ['../../../styles/header.css', '../../../styles/main.css'] }) %>
    <style>
        .container {
            margin-top: 300px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .username {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .password {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .submitButton {
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .headers {
            font-size: 30px;
        }
        .input {
            height: 50px;
            width: 100%;
            font-size: 30px;
        }
        #submitButton {
            margin-top: 10px;
            font-size: 30px;
        }
        input[type=text]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=password]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>
    <body>
        <div class="container">
        <h1 class="title">Saurez-vous aider Alan ?</h1>
        <form id="form">
            <div class="username">
                <label for="u" class="headers">Nom d'utilisateur:</label>
                <input type="text" id="u" name="u" class="input">
            </div>
            <div class="password">
                <label for="p" class="headers">Mot de passe:</label>
                <input type="password" id="p" name="p" class="input">
            </div>
            <div class="submitButton">
                <button type="submit" id="submitButton">Se connecter</button>
            </div>
            
        </form>
        </div>
    </body>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault();

            const d = ["dodq8;:|wkhfrghlv<<85"]
            const u = document.getElementById('u').value;
            const p = document.getElementById('p').value;

            if (encode(u) === d[0].split("|")[0] && encode(p) === d[0].split("|")[1]) {
                alert("Félicitation, vous pouvez utiliser le code !");
            } else {
                alert("Mauvais login !");
            }
        });

        function encode(message) {
            let messageSecret = '';
            for (let i = 0; i < message.length; i++) {
                let code = message.charCodeAt(i);
                code = code + 3;
                let caractereSecret = String.fromCharCode(code);
                messageSecret += caractereSecret;
            }
            return messageSecret;
        }
    </script>
</html>