<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <main>
            <h1>Home !</h1>
        </main>
    </body>
</html>