<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <main class="index">
            <div class="container">
                <h1 class="title">C'est quoi Quizly ?</h1>
                <p class="subtitle">Quizly c'est un questionnaire ou tu vas pouvoir mettre en jeu tes skills.<br/> Le premier à terminer les 4 défis sera le premier sur le leaderboard !</p>

                <div class="pros-container">
                    <div class="pros-card-container">
                        <img src="https://cdn-icons-png.flaticon.com/512/3176/3176367.png">
                        <p>Devenir le meilleur</p>
                    </div>
                    <div class="pros-card-container">
                        <img src="https://cdn-icons-png.flaticon.com/512/2331/2331846.png">
                        <p>Affrontez ses amis</p>
                    </div>
                    <div class="pros-card-container">
                        <img src="https://cdn-icons-png.flaticon.com/512/2847/2847832.png">
                        <p>Testez ses skills</p>
                    </div>
                </div>

                <div class="start-container">
                    <a class="btn-link start-with-us-link" href="/quiz">Commencer à quizzer</a>
                    <a class="btn-link start-with-us-link" href="/leaderboard">Monter dans le leaderboard</a>
                </div>
            </div>
        </main>
    </body>
</html>