<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <main>
            <h1>Quizly</h1>
            <p>Quizly est un CTF compétitif. Le but est très simple, terminer les 4 niveaux le plus rapidement possible ! <br/></p>

            <button type="button"><a href="/quiz">commencer l'aventure ici</a></button>
        </main>
    </body>
</html>