<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <main>
            <h1>Bienvenue sur Quizzly !</h1>
            <button type="button"><a href="/level1">commencer l'aventure ici</a></button>
        </main>
    </body>
</html>