
<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <body>
        <%- include('includes/navbar.ejs') %>
        <style>
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .title {
                justify-content: center;
                display: flex;
                align-items: center;
            }
        </style>
        <main>
            <h1 class="title">Well done !</h1>
            <h1 class="title">Save your personnal record !</h1>
            <div class="content">
            <form action="" method="post" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
                <label for="username" style="font-size: 25px;">Username</label>
                <input type="text" placeholder="Enter username" name="username" style="width: 200px;height: 50px;font-size: 25px;margin-bottom: 15px;">
                <button type="submit" style="font-size: 25px;">Submit</button>
            </form>
            </div>
        </main>
    </body>
</html>