<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
    </body>
</html>
<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .interface {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    label.username {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label.password {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <form action="" method="post">
    <div class="header">
        <h1>Signup</h1>
    </div>
    <div class="interface">
        <label for="username" class="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password" class="password"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password" required>
        <button type="submit">Signup</button>
    </div>
    </form>
</body>
</html>