<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <style>
        #save {
            justify-content: center;
            text-align: center;
            text-decoration: none;
            display: flex;
        }
    </style>
    <body>
        <%- include('includes/navbar.ejs') %>
        <a href="/save" id="save" style="font-size: 25px;margin-top: 20px;">Click here for us to remember your name !</a>
    </body>
</html>