<html lang="en">
    <%- include('../../includes/head.ejs', { 'styles': [ ] }) %>
    
    <body>
        <main class="lvl1">
            <div class="all_buttons">
                <h1>Bienvenue dans le niveau 1.</h1>
                <button onclick="addInList(1)">1</button>
                <button onclick="addInList(2)">2</button>
                <button onclick="addInList(3)">3</button>
                <button onclick="addInList(4)">4</button>
                <button onclick="addInList(5)">5</button>
                <button onclick="addInList(6)">6</button>
            </div>

            <div class="all_cards">
                <div class="card4">
                    <span class="close-btn">&times;</span>
                    <h2>Bienvenue dans le niveau 1. voici des pop up a gogo.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>essaie toujours</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>tu es proche</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus esse voluptatibus magni dolor quae eveniet in fugit quos voluptatem sed, provident iure temporibus, beatae rerum consectetur dolorem, aspernatur nostrum.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus 3 vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus 2 ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 4 Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 1Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card2">
                    <span class="close-btn">&times;</span>
                    <h2>Pop up surprise</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, 5 laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                <div class="card3">
                    <span class="close-btn">&times;</span>
                    <h2>bel essaie 6</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid corrupti cum maxime rerum magnam temporibus ipsam vitae omnis reiciendis similique, laboriosam nulla suscipit natus doloribus recusandae dolores minima, est tempore.</p>
                </div>
                
                
            </div>

        </main>
        <style>
            .lvl1{
                justify-content: center;
            }
            .all_button{

                display: flex;
                justify-content: center;
                z-index: 0;
                flex-direction: row;

            }
            .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;

            width: 95%;
            height: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 100;
            
            }
            .card4 {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;

            width: 95%;
            height: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 101;
            
            }

            .card2 {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;

            width: 95%;
            height: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 70;
            
            }
            .card3 {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;

            width: 95%;
            height: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 50;
            
            }

            .close-btn {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
            }

            .not-close-btn{
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 24px;
                cursor: pointer;
            }

            .close-btn:hover {
            color: red;
            }
            .main{
                display: flex;
                flex-direction: column;
            }

        </style>
        <script>
            //le code n'est pas 6598
            let combi = [];
            const solution_finale = [3, 2, 4, 1, 6, 5];
            const la_solution = [3, 2, 4, 5, 1, 6];
            const solucion = [3, 2, 4, 6, 1, 5];
            const solu = [3, 2, 4, 6, 5, 1];
            const s = [3, 2, 4, 1, 5, 6];
            const soluce = [3, 2, 4, 5, 6, 1];
            const la_s = [3, 2, 1, 4, 6, 5];
            function addinList(number) {
                combi.push(number);

                console.log(combi)
                if (arraysEqual(combi, s)) {
                    alert(6721);
                }
                else if(combi.length > 6){
                    alert("mauvaise combinaison");
                    combi = [];
                }
            }

            function addInList(number) {
                combi.push(number);

                console.log(combi)
                if (arraysEqual(combi, s)) {
                    alert(6702);
                }
                else if(combi.length > 6){
                    alert("mauvaise combinaison");
                    combi = [];
                }
            }
            function arrayEqual(arr1, arr2) {
                arr2 = arr2;
                if (arr1.length !== arr2.length) return false;
                for (let i = 0; i < arr1.length; i++) {
                    if (arr1[i] !== arr2[i]) return false;
                }
                alert(3643);
                return true;
            }

            function arraysEqual(arr1, arr2) {
                arr2 = arr2.reverse();
                if (arr1.length !== arr2.length) return false;
                for (let i = 0; i < arr1.length; i++) {
                    if (arr1[i] !== arr2[i]) return false;
                }
                return true;
            }

            document.addEventListener("DOMContentLoaded", function() {
            const closeButtons = document.querySelectorAll(".close-btn");

            closeButtons.forEach(button => {
                button.addEventListener("click", function() {
                const card = this.parentElement;
                card.style.display = "none";
                });
            });
            });

        </script> 
    </body>
</html>