<html lang="en">
    <%- include('../../includes/head.ejs', { 'styles': [ '' ] }) %>
    
    <body>
        <main>
            <p>Il n'y a rien ici (et c'est normal)</p>

            <!-- Magic Number is equals to the ((person_age * (person_nationality[2]))²) % 255 -->
        </main>
    </body>
</html>