<html lang="en">
    <%- include('../../includes/head.ejs', { 'styles': ['../../../styles/header.css', '../../../styles/main.css'] }) %>
    <body>
        <%- include('../../includes/navbar.ejs') %>
        <main>
            <div class="containermainhead">
            <h1 class="mainhead">Bienvenue dans le niveau 2.</h1>
            </div>
        </main>
        <style>
            .containermainhead{
                justify-content: center;
                align-items: center;
                display: flex;
            }
            .mainhead {
                background-image: linear-gradient(to bottom, rgba(50, 3, 20, 0.5), rgba(35, 25, 37, 0.5));
                justify-content: center;
                align-items: center;
                display: flex;
                height: 100px;
                width: 700px;
                border-radius: 100px;
            }
            .container {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

        /* CSS */
        .button-19 {
        appearance: button;
        background-color: black;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round,sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 250px;
        height: 250px;
        }

        .button-19:after {
        background-clip: padding-box;
        background-color: gray;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        }

        .button-19:main,
        .button-19:focus {
        user-select: auto;
        }

        .button-19:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        }

        .button-19:disabled {
        cursor: auto;
        }

        .button-19:active {
        border-width: 4px 0 0;
        background: none;
        }
        </style>
        <div class="container">
            <h1 class="Head1">C'est parti ! Fais au moins <span style="color: rgb(178, 58, 110);">10 clicks/seconde</span>, tu pourrais avoir une surprise...</h1>
            <button id="clickerGame" class="button-19" disabled="true" >Click me</button>
            <p id="counter">Clicks:0</p>
            <p id="time">Temps restant : 10 secondes</p>
            <p id="Mean"></p>
            <button id="tryAgain" style="display: none;">Try again ?</button>
            <button id="start">Start</button>
            <p id="success" ></p>
            <p id="failed"></p>
        </div>
        <script>
            let timer;
            let clickable = document.getElementById("clickerGame")
            let counter = document.getElementById("counter")
            let time = document.getElementById("time")
            let mean = document.getElementById("Mean")
            let tryAgaibutt = document.getElementById("tryAgain")
            let start = document.getElementById("start")
            let success = document.getElementById("success")
            let failed = document.getElementById("failed")
            let decount = 10
            let count = 0
            

            start.addEventListener("click", function(){
                start.style.display = "none"
                timer = setInterval(decrease, 1000)
                clickable.disabled = false
            })
            
            function tryAgain(){
                
                count = 0
                decount = 10
                isok = 0
                time.innerHTML = "Temps restant :" + decount + " secondes "
                clickable.disabled = true
                mean.style.display = "none"
                counter.innerHTML = "Cliks:" + count
                start.style.display = "block"
                failed.style.display = "none"
                success.style.display = "none"
                tryAgaibutt.style.display = "none"
            }
            tryAgaibutt.addEventListener("click", function(){
                tryAgain()
            })

            function decrease(){
                if (decount <= 0){
                    clearInterval(timer)
                decount = 0
                clickable.disabled = true
                mean.innerHTML = "Moyenne : " + count / 10
                tryAgaibutt.style.display = "block"
                
                if (count / 10 < 1){
                    failed.style.display = "none"
                    failed.innerHTML = "Tu as raté...!"
                }else{
                    success.style.display = "block"
                    success.innerHTML = "Tu l'as fait! Voilà ton" + "<a href='/levels/2/course' style='text-decoration: none'> Cadeau </a>"
                }
                }else{
                    decount--
                    time.innerHTML = "Temps restant :" + decount + " secondes "
                }
                
                
            }
            
            

            clickable.addEventListener("click", function(){
                count += 1
                counter.innerHTML = "Cliks:" + count
                
            })
        </script>
    </body>
</html>
