header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #90bed8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-container {
    margin-top: 100px;
}

.pros-container {
    width: 90%;
    height: 30vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pros-card-container {
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 3.5vw;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    width: 18vw;/*380px;*/
    min-width: 225px;
    height: 100%;
}

.pros-card-container img {
    width: clamp(50px, 14vw, 180px);
    margin-bottom: 10px;
}

.pros-card-container p {
    font-size: clamp(20px, 1.4vw, 40px);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}