.q-subtitle {
    margin-right: 40%;
    margin-bottom: 40px;
}

.q-btn-link {
    margin-bottom: 40px;
}

.q-hint-container {
    width: 30%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.q-hint-container img {
    width: 25px;
    margin-right: 15px;
}